<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/common.css">
    <title>메인페이지</title>
</head>

<body>

    <header class="header">
        <div class="inner">
            <div class="logo_area">
                <div class="logo">
                    <h3><a href="/"><img src="" alt="로고영역"></a></h3>
                </div>
                <div class="util_item">
                    <ul>
                        <li><a href="#none">로그인</a></li>
                        <li><a href="#none">장바구니</a></li>
                    </ul>
                </div>
            </div>
            <nav class="gnb">
                <ul>
                    <li><a href="/">홈</a></li>
                    <li><a href="#none">상품</a></li>
                    <li><a href="/board/list">게시판</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="main">
        <div class="inner">
            <section class="hero">
                <div class="main_banner">
                    <img src="" alt="메인배너영역">
                </div>
            </section>

            <div class="board_area">
                <h2>최근 게시글</h2>
                <ul>
                    <li th:if="${#lists.isEmpty(boardList)}">
                        <a href="/board/list">등록된 게시글이 없습니다.</a>
                    </li>
                    <li th:each="board : ${boardList}">
                        <a th:href="|/board/read?no=${board.no}|" th:text="${board.title}"></a>
                    </li>
                </ul>
            </div>
        </div>
    </main>

    <footer class="footer">
        <div class="inner">
            <p>푸터영역</p>
        </div>
    </footer>

</body>

</html>
